# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TOTEM_POLE_LEFT

config ZMK_KEYBOARD_NAME
    default "TOTEM_POLE"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_POLE_LEFT || SHIELD_TOTEM_POLE_RIGHT

config ZMK_SPLIT
    default y

endif
